.disabled{
    display: none;
}

div#customer-index{
    div#container-customer{
        div.content-page-active{
            display: flex !important;
            justify-content: center !important;
            align-items: center;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        nav#card-customer--pager{
            margin-left: 1em;

            .page-item.active .page-link {
                z-index: 1;
                color:
                    #222528;
                background-color:
                    #FEC007;
                border-color:
                    #373A3C;
            }

            .page-link {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #838E91;
                background-color: #222528;
                border: 1px solid #373a3c;

                &:hover {
                    z-index: 2;
                    color: #fec007;
                    text-decoration: none;
                    background-color: #2B2E31;
                    border-color: #414446;
                }
            }
        }
    }

    #n_customer{
        color: #838e91;
    }

    .data_not_found{
        text-align: center;
        color: #222528;
    }

    .card-customer{
        margin-left: 1em;
        min-width: 16.333em;
        min-height: 7em;
        background: #222528;
        border: 1px solid rgba(0, 0, 0, 0);

        &:hover{
            background: #232629;
        }

        h5{
            color: $yellow;
        }

        p{
            color: #838e91;
        }

        a.btn-email-customer{
            background: $yellow;
            border: 2px solid $yellow;
            border-radius: 0 0 0.25rem 0.25rem;
            color: #222528;

            &:hover{
                background: #cda107;
            }
        }
    }
}

div#customer-create,
div#customer-edit,
div#settings-edit{

    .sw_form{
        background: #222528;
        border-radius: 5px 5px;
        padding: 2em;

        span{
            &#vat_valid{
                color: #4cff67;
            }

            &#vat_invalid{
                color: #ff0000;
            }
        }


        label{
            width: 40%;
            display: block;
            color: $yellow;
            font-size: 1.10rem;
            font-weight: 300;
            border-bottom: 1px solid $yellow;
        }
    }
}

div#customer-show,
div#settings-container{
    .table-row{
        cursor:pointer;

        &:hover{
            background: rgba(0,0,0,0.1);
        }
    }

    div#customer-info,
    div#settings-info{
        background: #222528;
        border-radius: 5px 5px;
        padding: 2em;

        div.hr{
            display: block;
            height: 2px;
            background: #1b1e21;
            margin: 15px 0 30px 0;
        }

        div#container-info-customer,
        div#container-info-settings{
            color: #838e91;

            h5{
                width: 40%;
                display: block;
                color: $yellow;
                border-bottom: 1px solid $yellow ;
            }
        }

        div#container-form-edit{

            span{
                &#vat_valid{
                    color: #4cff67;
                }

                &#vat_invalid{
                    color: #ff0000;
                }
            }

            label{
                width: 40%;
                display: block;
                color: $yellow;
                font-size: 1.10rem;
                font-weight: 300;
                border-bottom: 1px solid $yellow;
            }
        }
    }

    div#customer-info-invoices,
    div#customer-info-quote,
    div#customer-info-cn{
        background: #222528;
        border-radius: 5px 5px;
        padding: 2em;
    }
}


