div.home-container{
    color: white;

    div.card{
        margin: 5em auto;
        background: none;
        border: none;
    }

    div#container-chart{
        margin-top: 10em;
        width: 100vw;

        div{
            h5{
                text-align: center;
                color: $yellow;
            }

            canvas{
                margin-top: 2.5em;
                border-radius: 5px 5px;
                padding: 15px;
                background: #222528;
            }
        }
    }
}
