.primary_label{
    color: $yellow;
}

div#container-invoice,
div#container-quote,
div#container-cn{
    background: #222528;
    border-radius: 5px 5px;
    padding: 2em;
}

div.hr{
    display: block;
    width: 100%;
    height: 2px;
    background: #1b1e21;
    margin: 15px 0 30px 0;
}

div#invoice-index{
    .table-row{
        cursor:pointer;

        &:hover{
            background: rgba(0,0,0,0.1);
        }
    }
}

div#invoice-show{
    div.invoice_show{
        margin-right: 3.5rem;
        button{
            &.draft{
                font-weight: bold;
                color: #9c989c;
            }
            &.signed{
                background: #2f80b9;
                a{
                    text-decoration: none;
                    color: white;
                }
                &:hover{
                    background: #306BA5;
                }
            }
            &.sent{
                background: #ffff00;
                color: #222528;
                &:hover{
                    background: #D7D700;
                }
            }
            &.paid,
            &.validated{
                background: #4cff67;
                color: #222528;
                &:hover{
                    background: #46D761;
                }
            }
            &.deleted,
            &.rejected{
                background: #ff0000;
                &:hover{
                    background: #d70000 !important;
                }
            }
        }

        div#invoice_show_dropdown-menu{
            width: 113px;
            min-width: 0 !important;
            padding: 0px;
            button{
                //color: white;
                &.part_paid{
                    font-weight: bold;
                    color: #ffa500;
                    &:hover{
                        background: #D77D00 !important;
                    }
                }

                &.validated{
                    background: #4cff67;
                    color: #222528;
                    &:hover{
                        background: #46D761;
                    }
                }

                &.deleted,
                &.rejected,
                &.reminder{
                    width: 100%;
                    background: #ff0000;
                    &:hover{
                        background: #d70000 !important;
                    }
                }
            }
        }

        img.icon_pdf{
            margin-top: -8px;
        }
    }

    .secondary_label{
        font-weight: bold;
    }

    div#infos_company{
        min-width: 300px;
        div{
            margin-left: 2.4rem;
        }
    }

    .card-infos-invoice{
        color: #838e91;
        background: #323639;
        border-radius: 5px 5px;
        padding: 0.5rem 0.5rem;
    }

    div#infos_invoice{
        min-width: 300px;
        h1{
            text-align: center;
            color: $yellow;
        }
    }

    div#infos_customer{
        min-width: 300px;
    }

    div#infos_items{
        min-width: 600px;
        div#resume_total{
            padding: 10px 0 0 0 !important;

            div{
                min-width: 200px;
                background: #323639;
                border-radius: 5px 5px;
                padding: 15px 0 15px 0 !important;
                margin: 5px 0 0 0;
                color: #838e91;
                text-transform: uppercase;

                ul{
                    margin: 0 !important;

                    li{
                        list-style-type: none;
                        span.total{
                            color: $yellow;
                        }

                        &.edit_vat{
                            margin-top: 6px;
                            span.edit_vat{
                                padding-left: 57px;
                                margin-top: -28px;
                            }
                        }
                        #edit_vat{
                            margin: -5px 0 0 5px;
                        }
                    }
                }
            }
        }
    }
}

div#invoice-create,
div#invoice-edit{

    .sw_form{
        background: #222528;
        border-radius: 5px 5px;
        padding: 2em;

        input.isError,
        textarea.isError,
        select.isError{
            border: 2px solid red;
        }

        p.isError{
            color: red;
            font-weight: bold;
            margin-bottom: 0;
        }

        p.item_div{
            padding-left: 15px;
            margin-top: -15px;
        }

        input.autocomplete-input{
            padding: 6px;
            width: 292px;
        }

        div{
            label.first_class{
                display: block;
                width: 40%;
                margin: 20px 0 20px 0;
                color: $yellow;
                font-size: 1.10rem;
                font-weight: 300;
                border-bottom: 1px solid $yellow;
            }

            div.radio label{
                color: #838e91;
            }

            div#new_item{
                background: #323639;
                border-radius: 5px 5px;
                padding: 25px !important;
                margin: 25px 0 0 0;

                &.isError{
                    border: 2px solid red;
                }
            }

            div#resume_total{
                padding: 10px 0 0 0 !important;

                div{
                    background: #323639;
                    border-radius: 5px 5px;
                    padding: 15px 0 15px 0 !important;
                    margin: 5px 0 0 0;
                    color: #838e91;
                    text-transform: uppercase;

                    ul{
                        margin: 0 !important;

                        li{
                            list-style-type: none;
                            span.total{
                                color: $yellow;
                            }

                            &.edit_vat{
                                margin-top: 6px;
                                span.edit_vat{
                                    padding-left: 57px;
                                    margin-top: -28px;
                                }
                            }
                            #edit_vat{
                                margin: -5px 0 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#invoice-show{
    span{
        &.draft{
            font-weight: bold;
            color: #9c989c;
        }
        &.signed{
            font-weight: bold;
            color: #2f80b9;
        }
        &.sent{
            font-weight: bold;
            color: #ffff00;
        }
        &.part_paid{
            font-weight: bold;
            color: #ffa500;
        }
        &.paid,
        &.validated{
            font-weight: bold;
            color: #4cff67;
        }
        &.deleted,
        &.rejected,
        &.reminder{
            font-weight: bold;
            color: red;
        }
    }
}
