div.card-login,
div.card-reset,
div.card-verif-email{
    padding: 0;
    margin: 0;
    color: #838e91;
    border: none;

    div.card-header{
        background: #222528;
    }

    div.card-body{
        background: #282b2e;
        input{
            margin-bottom: 15px;
        }
        button.btn-login,
        button.btn-submit-reset,
        button.btn-reset-password{
            background: $yellow;

            &:hover{
                background: #D7A007;
            }
        }

        a.btn-link{
            margin-left: 0;
            color : #838e91;

            &:hover{
                color: $yellow;
            }
        }
    }
}

