div#nav-container{

    div.row{
        nav.sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            background: #222528;

            div.sidebar-sticky {
                position: sticky;
                top: 48px; /* Height of navbar */
                height: calc(100vh - 5px);
                padding-top: .5rem;
                overflow-x: hidden;
                overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

                a{
                    color: #838e91;
                    text-transform: uppercase;

                    &.nav_btn{
                        &:hover{
                            color: $yellow;
                            font-weight: 600;
                            border-bottom: 1px solid $yellow;
                            background: #1b1e21;
                        }
                    }

                    &.active{
                        color: $yellow;
                        font-weight: 600;
                        border-bottom: 1px solid $yellow;
                        background: #1b1e21;
                    }

                    img.icon_customer,
                    img.icon_invoice,
                    img.icon_exit{
                        margin-bottom: 4px;
                    }

                    img.icon_exit{
                        height: 25%;
                        width: 25%;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

main{
    table.table_items,
    table.table_invoices{
        color: #838e91;
        tbody tr td{
            vertical-align: inherit;
            &.status{
                width: 10%;
            }
            span{
                &.draft{
                    font-weight: bold;
                    color: #9c989c;
                }
                &.signed{
                    font-weight: bold;
                    color: #2f80b9;
                }
                &.sent{
                    font-weight: bold;
                    color: #ffff00;
                }
                &.part_paid{
                    font-weight: bold;
                    color: #ffa500;
                }
                &.paid,
                &.validated{
                    font-weight: bold;
                    color: #4cff67;
                }
                &.deleted,
                &.rejected,
                &.reminder{
                    font-weight: bold;
                    color: red;
                }
            }
        }
    }

    .page-item.active .page-link {
        z-index: 1;
        color:
            #222528;
        background-color:
            #FEC007;
        border-color:
            #373A3C;
    }

    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #838E91;
        background-color: #414446;
        border: 1px solid #373a3c;

        &:hover {
            z-index: 2;
            color: #fec007;
            text-decoration: none;
            background-color: #373a3c;
            border-color: #414446;
        }
    }
}

