<template>
    <div class="sw_form row w-100 h-100 d-flex flex-column">
        <!-- Date Field -->
        <div class="form-group col-sm-4">
            <label for="invoice_date" class="first_class control-label">Date</label>
            <input type="date" id="invoice_date" name="invoice_date" class="form-control" v-model="invoiceDate" v-bind:class="{isError: errorDate}">
            <p v-if="errorDate" v-bind:class="{isError: errorDate}">Date required</p>
        </div>

        <!-- Customer Id Field -->
        <div class="form-group col-sm-4">
            <label class="first_class control-label">Customer</label>
            <select class="form-control" v-model="selectedCustomer" v-bind:class="{isError: errorCustomer}">
                <option v-for="customer in customers" :value="customer.customer_id">
                    {{ customer.first_name | capitalize }} {{ customer.last_name | capitalize }}
                </option>
            </select>
            <p v-if="errorCustomer" v-bind:class="{isError: errorCustomer}">Customer required</p>
        </div>

        <!-- Type Id Field -->
        <div class="form-group col-sm-4">
            <label class="first_class control-label">Type</label>
            <select class="form-control" v-model="selectedType" v-bind:class="{isError: errorType}">
                <option v-for="type in types" :value="type.type_id">
                    {{ type.type_name | capitalize }}
                </option>
            </select>
            <p v-if="errorType" v-bind:class="{isError: errorType}">Type required</p>
        </div>

        <!-- Item Id Field -->
        <div class="form-group col-sm-8 mb-4">
            <label class="first_class control-label">Items</label>
            <div id="new_item" class="form-group" v-bind:class="{isError: errorItem}">
                <div class="form-row">
                    <div class="mr-5">
                        <label for="quantity" class="first_class control-label">Quantity</label>
                        <input type="text" name="quantity" id="quantity" class="form-control" placeholder="Quantity"
                               v-on:keyup="amount()"
                               v-model="itemQuantity"
                               v-bind:class="{isError: errorItemQuantity}">
                        <p v-if="errorItemQuantity" v-bind:class="{isError: errorItemQuantity}">{{ msgErrorItemQuantity }}</p>
                    </div>
                    <div class="mr-5">
                        <label for="price" class="first_class control-label">Unit price</label>
                        <input type="text" name="price" id="price" class="form-control" placeholder="Unit price"
                               v-on:keyup="amount()"
                               v-model="itemPrice"
                               v-bind:class="{isError: errorItemPrice}">
                        <p v-if="errorItemPrice" v-bind:class="{isError: errorItemPrice}">{{ msgErrorItemPrice }}</p>
                    </div>
                    <div>
                        <label for="amount" class="first_class control-label">Amount</label>
                        <input type="text" name="amount" id="amount" class="form-control" value="" placeholder="Amount" v-model="itemAmount" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label for="item_description" class="first_class control-label">Description</label>
                        <textarea name="item_description" id="item_description" cols="55" rows="2" placeholder="Description"
                                  v-model="itemDescription"
                                  v-bind:class="{isError: errorItemDescription}"
                        ></textarea>
                        <p v-if="errorItemDescription" v-bind:class="{isError: errorItemDescription}">Description required</p>
                    </div>
                </div>
                <div class="form-row mt-3 mb-3">
                    <div>
                        <button class="btn btn-primary" v-on:click="addItem()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <p class="item_div" v-if="errorItem" v-bind:class="{isError: errorItem}">Item required</p>

        <!-- Table items -->
        <div class="form-group col-12">
            <table class="table_items table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in items">
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.description | capitalize }}</td>
                    <td>{{ float(item.price) }} €</td>
                    <td>{{ float(item.amount) }} €</td>
                    <td>
                        <button class="btn">
                            <img class="edit_item" src="/img/icons/invoice/edit.png" alt="Icon edit item" v-on:click="edit ? '' : editItem(index, item.item_id)">
                            <img class="delete_item" src="/img/icons/invoice/delete.png" alt="Icon delete item" v-on:click="deleteItem(index, item.item_id)">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="resume_total" class="col-12 d-flex justify-content-end">
                <div class="col-3">
                    <ul>
                        <li>Excl tax : <span class="total">{{ total.exclTax }} €</span></li>
                        <li v-bind:class="{ edit_vat: vatIsHidden }">
                                VAT :
                                    <span class="total" v-if="!vatIsHidden">{{ vat }} %</span>
                                    <img id="edit_vat" src="/img/icons/invoice/edit.png" alt="Icon edit" v-on:click="vatIsHidden = !vatIsHidden" v-if="!vatIsHidden">
                                    <span class="row" v-bind:class="{ edit_vat: vatIsHidden }">
                                        <input class="form-control col-3" type="text" v-if="vatIsHidden" v-model="vat">
                                        <button class="btn btn-primary" v-on:click="vatIsHidden = !vatIsHidden" v-if="vatIsHidden">Save</button>
                                    </span>
                        </li>
                        <li>Total : <span class="total" ><b>{{ total.totalInclTax }} €</b></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- term of validity Field -->
        <div class="form-group col-sm-4" v-if="selectedType == 2">
            <label class="first_class control-label" for="quote_term_validity">Term of validity</label>
            <input class="form-control" type="text" id="quote_term_validity" placeholder="Term of validity"
                   v-model="quoteTermValidity"
                   v-bind:class="{isError: errorTermValidity}">
            <p v-if="errorTermValidity" v-bind:class="{isError: errorTermValidity}">Term of validity required</p>
        </div>

        <!-- Terms of payment Field -->
        <div class="form-group col-sm-4" v-if="selectedType == 1">
            <label class="first_class control-label" for="invoice_terms_payment">Terms of payment</label>
            <input class="form-control" type="text" id="invoice_terms_payment" placeholder="Terms of payment"
                   v-model="invoiceTermsPayment"
                   v-bind:class="{isError: errorTermPayment}">
            <p v-if="errorTermPayment" v-bind:class="{isError: errorTermPayment}">Terms of payment required</p>
        </div>

        <!-- Comment Field -->
        <div class="form-group col-sm-6">
            <label class="first_class control-label" for="invoice_comment">Comment</label>
            <textarea name="invoice_comment" id="invoice_comment" cols="55" rows="2" placeholder="Comment" v-model="invoiceComment"></textarea>
        </div>

        <div class="hr"></div>

        <!-- Submit Field -->
        <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-primary" v-on:click="submit()">Submit</button>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                invoiceIDUrl: '',
                invoiceType: '',
                customers: {},
                selectedCustomer: '',
                errorCustomer: false,
                types: {},
                selectedType: '',
                errorType: false,
                items: [],
                itemsDeleted: [],
                errorItem: false,
                itemID: null,
                itemQuantity: null,
                errorItemQuantity: false,
                msgErrorItemQuantity: '',
                itemPrice: null,
                errorItemPrice: false,
                msgErrorItemPrice:'',
                itemAmount: null,
                itemDescription : null,
                errorItemDescription: false,
                vatIsHidden: false,
                vat: 21,
                invoiceComment : '',
                invoiceTermsPayment: '',
                quoteTermValidity: '',
                errorTermValidity: false,
                errorTermPayment: false,
                invoiceDate: null,
                errorDate: false,
                invoiceId: '',
                statusId: '',
                edit: false

            }
        },

        computed:{
            total: function() {

                var calExclTax = []
                this.items.forEach(item => calExclTax.push(item.amount));

                if(calExclTax.length !== 0){
                    const reducer = (accumulator, currentValue) => accumulator + currentValue;
                    var exclTax = calExclTax.reduce(reducer);
                }
                var vat = exclTax * (this.vat / 100)

                if((exclTax !== undefined) || (totalInclTax !== undefined)){
                    var totalInclTax = exclTax + vat
                }else{
                    var exclTax = 0;
                    var totalInclTax = 0;
                }

                if(this.selectedType === 3){
                    var total = {
                        exclTax: -Math.abs(parseFloat(exclTax).toFixed(2)),
                        totalInclTax: -Math.abs(parseFloat(totalInclTax).toFixed(2))
                    }
                }else{
                    var total = {
                        exclTax: parseFloat(exclTax).toFixed(2),
                        totalInclTax: parseFloat(totalInclTax).toFixed(2)
                    }
                }

                return total;
            }
        },

        methods:{
            float: function(val){
                if(val !== undefined){
                    return parseFloat(val).toFixed(2);
                }
            },

            amount: function() {
                this.itemAmount = this.itemQuantity * this.itemPrice;
            },

            addItem: function() {
                var price = Number(this.itemPrice);
                var quantity = Number(this.itemQuantity);
                var amount = Number(this.itemAmount);
                var description = this.itemDescription;
                var itemID = this.itemID;

                if(!quantity){
                    this.errorItemQuantity = true;
                    this.msgErrorItemQuantity = "Quantity required"
                }else if (isNaN(quantity)) {
                    this.errorItemQuantity = true;
                    this.msgErrorItemQuantity = "Quantity is not a number"
                }else{
                    this.errorItemQuantity = false;
                }

                if(!price){
                    this.errorItemPrice = true;
                    this.msgErrorItemPrice = "Price required"
                }else if (isNaN(price)) {
                    this.errorItemPrice = true;
                    this.msgErrorItemPrice = "Price is not a number"
                }else{
                    this.errorItemPrice = false;
                }

                if (!this.itemDescription) {
                    this.errorItemDescription = true;
                }else{
                    this.errorItemDescription = false;
                }

                if ((this.itemQuantity && this.itemPrice && this.itemDescription) && ( !isNaN(price) && !isNaN(quantity))) {
                    var lenghtItem = this.items.length;

                    if(lenghtItem === 0){
                        var newItem = {
                            item_id: itemID,
                            id: lenghtItem,
                            price: price,
                            quantity: quantity,
                            amount: amount,
                            description: description
                        }
                        this.items.push(newItem);

                        this.itemID = null;
                        this.itemPrice = '';
                        this.itemQuantity = '';
                        this.itemAmount = '';
                        this.itemDescription = '';
                        this.msgErrorItemQuantity = "";
                        this.msgErrorItemPrice = "";
                        this.errorItemQuantity = false;
                        this.errorItemPrice = false;
                        this.errorItemDescription = false;
                        this.edit = false;
                    }else{
                        lenghtItem = lenghtItem++
                        var newItem = {
                            item_id: itemID,
                            id: lenghtItem,
                            price: price,
                            quantity: quantity,
                            amount: amount,
                            description: description
                        }
                        this.items.push(newItem);

                        this.itemID = null;
                        this.itemPrice = '';
                        this.itemQuantity = '';
                        this.itemAmount = '';
                        this.itemDescription = '';
                        this.msgErrorItemQuantity = "";
                        this.msgErrorItemPrice = "";
                        this.errorItemQuantity = false;
                        this.errorItemPrice = false;
                        this.errorItemDescription = false;
                        this.edit = false;
                    }
                }
            },

            editItem: function(val, item_id) {
                this.edit = true

                if(item_id){
                    this.itemID = item_id
                }

                this.itemQuantity = this.items[val].quantity;
                this.itemPrice = this.items[val].price;
                this.itemAmount = this.items[val].amount;
                this.itemDescription =  this.items[val].description;

                this.$delete(this.items,val);
            },

            deleteItem: function(val, item_id){
                this.$delete(this.items,val);
                this.itemsDeleted.push(item_id);
            },

            submit: function() {
                var lenghtItem = this.items.length;
                if(!this.invoiceDate){
                    this.errorDate = true;
                }
                if(!this.selectedCustomer){
                    this.errorCustomer = true;
                }
                if(lenghtItem === 0){
                    this.errorItem = true;
                }
                if(!this.selectedType){
                    this.errorType = true;
                }
                if(this.selectedType === 3){
                    this.invoiceTermsPayment = '';
                    this.quoteTermValidity = '';
                    var checkCN = true;
                }
                if( (this.selectedType === 2) && !this.quoteTermValidity){
                    this.errorTermValidity = true;
                    this.invoiceTermsPayment = '';
                }
                if( (this.selectedType === 1) && !this.invoiceTermsPayment){
                    this.errorTermPayment = true;
                    this.quoteTermValidity = '';
                }

                if(this.selectedCustomer && (lenghtItem !== 0) && this.selectedType && (this.quoteTermValidity || this.invoiceTermsPayment || checkCN)){
                    if(!isNaN(this.invoiceIDUrl) && (this.statusId===7)){
                        var url = 'http://127.0.0.1:8000/api/invoice/update/'+this.invoiceId
                    }else{
                        var url = 'http://127.0.0.1:8000/api/invoice'
                    }
                    axios({
                        method: 'post',
                        url: url,
                        responseType: 'json',
                        data: {
                            invoiceType : this.invoiceType,
                            customer : this.selectedCustomer,
                            type : this.selectedType,
                            items : this.items,
                            invoice_terms_payment: this.invoiceTermsPayment,
                            quote_term_validity : this.quoteTermValidity,
                            comment : this.invoiceComment,
                            vat: this.vat,
                            total_incl_tax: this.total.totalInclTax,
                            excl_tax: this.total.exclTax,
                            date: this.invoiceDate,
                            items_deleted: this.itemsDeleted
                        }
                    }).then(function (response) {
                        window.location = response.data.redirect;
                    });
                }
            }
        },

        created() {
            var id = window.location.href.split('/');

            if(isNaN(parseInt(id[4]))){
                this.invoiceIDUrl = parseInt(id[5])
                this.invoiceType = 'customer'
            }else{
                this.invoiceIDUrl = parseInt(id[4])
                this.invoiceType = 'invoice'
            }

            if(!isNaN(this.invoiceIDUrl)){
                var url = 'http://127.0.0.1:8000/api/invoice/getupdate/'+this.invoiceIDUrl
                axios
                    .get(
                            url
                    )
                    .then(response => {
                        this.customers = response.data.customers;
                        this.types = response.data.types;
                        this.items = response.data.items;

                        var arrayInvoice = [];
                        arrayInvoice = response.data.invoice;
                        arrayInvoice.forEach(item =>{
                            this.invoiceId=item.invoice_id;
                            this.statusId=item.status_id;
                            this.invoiceDate=item.date;
                            this.selectedCustomer=item.customer_id;
                            this.selectedType=item.type_id;
                            this.vat=item.vat;
                            this.invoiceTermsPayment=item.invoice_terms_payment;
                            this.quoteTermValidity=item.quote_term_validity;
                            this.invoiceComment=item.comment;
                        });

                        if(this.statusId!=7){
                            window.location = 'http://127.0.0.1:8000/invoice/'+this.invoiceIDUrl;
                        }
                    });
            }else{
                axios
                    .get(
                        'http://127.0.0.1:8000/api/invoice'
                    )
                    .then(response => {
                        this.customers = response.data.customers;
                        this.types = response.data.types;
                    });
            }
        },

        filters: {
            capitalize: function(value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    }
</script>
